hgroup {
  border-bottom-style: groove;
}
img {
  float: right;
}

img.align-left {
  float: left;
}

img.align-center {
  float: unset;
  margin-left: 180px;
  margin-right: 80px;
}

img.align-right {
  float: right;
}

div.ingredients, div.more-ingredients {
  border: 2px solid black;
  display: inline-block;
  background-image: url("img/list-bg.png");
  background-repeat: no-repeat;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 25px;
}

div.more-ingredients {
  float: right;
  padding-bottom: 2px;
}

.comments {
  display: block;
}

h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 30px;
  margin-bottom: 0;
}

h6 {
  margin-top: 0;
  font-family: 'Athiti', 'Cuprum', sans-serif;
  font-size: 10px;
}

h1 {
  font-family: 'Yantramanav', 'Work Sans', sans-serif;
  font-size: 40px;
}

h5 {
  font-family: ;
  font-size: 15px;
}

div.tiny-logos {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: -10;
}

/*use CSS to click and scratch out ingredients*/
